:root {
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-font-family: 'Comfortaa', cursive;
    --primary-color:rosybrown;
    --secondary-color: rgb(22, 1, 74);
    --tertiary-color: azure;
}  

html {
    overflow-x: hidden;
}

body {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    overflow-x: hidden;
    font-family: var(--primary-font-family);
}

.navbar {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    font-family: var(--secondary-font-family);
    font-weight: 500;
}

.navbar-brand-active {
    color: var(--primary-color);
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
}

.nav-link-black {
    color: var(--tertiary-color);
}

.nav-link:hover {
    color: var(--primary-color);
    font-weight: 700;
}

.active {
    color: var(--primary-color) !important;
    font-weight: 700;
}

.hero-title {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 15px auto;
}

.buttons-hero {
    margin: 80px 0;
}

.button-title {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 500;
}

.button-hero {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 10px auto;
    padding: 3px 3px;
    width: 180px;
}

.button-hero:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
}

.hero-image,
.brand-image,
.image-product-list {
    border-radius: 5px;
}

.brand-container-black {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
    padding: 20px 5px;
}

.navbar-black {
    background: rgb(30, 33, 48) 6.8%;
}

.brand-title {
    color: var(--primary-color);
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    margin: 20px auto;
}

.brand-text-black, 
.brand-text-light {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin: 50px 0 15px 0;
}

.brand-text-black {
    color: var(--tertiary-color);
}
  
.brand-remark {
   color: var(--primary-color);
   text-decoration: underline; 
}

.brand-remark-title { 
   color: var(--primary-color);
   font-size: 18px;
   text-decoration: underline;
   text-align: center;
   margin: 15px 0;
}

ul {
    margin: 0;
    padding: 0;
}

.product-list-black,
.product-list-light {
    display: inline-table;
    list-style-type: none;   
    text-align: center;   
}

.image-product-list {
    margin: auto 20px;
}

.image-product-list:hover,
.image-product-list:focus {
    box-shadow: 1px 1px 1px 1px var(--primary-color);
}

.product-list-text,
.product-list-text-light {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 0.5;
}

.product-list-text {
    color: var(--tertiary-color);
}

.product-list-text:hover,
.product-list-text:focus,
.product-list-text-light:hover,
.product-list-text-light:focus {
    color: var(--primary-color);
    font-weight: 700;
}

.brand-button {
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 20px;
    font-weight: 400;
    border: 1px solid var(--primary-color);
    margin: 5px auto;
    border-radius: 5px;
    padding: 3px 3px;
    width: 150px;
}

.brand-button:hover {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.insta-link-black,
.insta-link-light {
    color: var(--primary-color);
    font-size: 26px;
}

.insta-link-black:hover,
.insta-link-light:hover  {
    font-size: 32px;
}

.brand-container-light,
.navbar-light {
    background:#fcfefe;
}

.brand-container-light {
    padding: 20px 5px;
}

.navbar-light {
    background:#fcfefe;
}

.nav-link-light {
    color: var(--secondary-color);
}

.brand-text-light,
.brand-remark-light,
.product-list-light {
    color: var(--secondary-color);
} 

.brand-remark-light {
    color: var(--primary-color);
    text-decoration: underline;
}

.product-list-text-light {
    color: var(--secondary-color); 
}

.footer {
    color: var(--secondary-color); 
    font-size: 10px;
    font-weight: 300;
    text-align: center;
}

.creator {
    color: var(--secondary-color); 
    text-decoration: none
}
  
.git-icon,
.instagram-link {
    color: var(--primary-color);
    font-size: 16px;
} 

.git-icon:hover,
.instagram-link:hover {
    font-size: 20px;
    font-weight: 600;
} 

.arrow {
    display: flex;
    float: right;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 7px 10px;
    margin: 0 5px;
    opacity: 0.5;
}

@media (max-width: 900px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .hero-container,
  .brand-container-black,
  .brand-container-light {
    padding: 0 auto;
  }

  .navbar-brand-active {
    font-size: 20px;
  }

  .navbar-toggler {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    opacity: 0.5;
  }  

  .hero-title {
    font-size: 28px;
    line-height: 1;
    margin: 15px 0;
  }

  .buttons-hero {
    min-width: 330px;
    margin: 5px 0;
  }  

  .button-title {
    font-size: 22px;
    min-width: 200px;
    margin: 10px auto;
  }
 
  .button-hero {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
    width: 130px;
  }

  .hero-image {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .brand-title {
    font-size: 28px;
  }
  
  .brand-text-black, 
  .brand-remark,
  .brand-text-light,
  .brand-remark-text,
  .product-list-light {
    font-size: 14px;
  }

  .col-5 {
    min-width: 350px;
  }

  ul {
    padding: 0;
  }

  .product-list-text,
  .product-list-text-light {
    font-size: 10px; 
    line-height: 0.2;
  }

  .brand-button {
    font-size: 16px;
  }

}